# =========================
# IDE/Editor
# =========================

.vscode/
.idea/

# =========================
# Build
# =========================

build*/
*build/

# =========================
# CMake
# =========================

CMakeLists.txt.user

# =========================
# Linux
# =========================

.directory
